*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-color: #0f1111;
    text-align: center;
}

*body{
    background-color: blue;
}

h1{
    color: aqua;
    background-color: black;
    font-style: italic;
}

img{
    height: 140px;
    width: 175px;
}

a{
    text-decoration: none;
    color: black;
    background-color: cyan;
}

h3{
    color: aqua;
}